# Секреты и локальные настройки
env.sh
.env
.env.*
*.pem

# Python
__pycache__/
*.pyc
*.pyo
.venv/

# Логи HPC / Slurm
logs/
*.out
*.err

# Модели и кэши
*.safetensors
models/
hf-cache/
pip-cache/

# Временные файлы
tmp/
*.tmp

# IDE / ОС
.DS_Store
.idea/
.vscode/
